<!-- Footer Section -->
<footer class="bg-dark text-white py-4">
    <div class="container">
      <div class="row">
        <!-- About Section -->
        <div class="col-md-3">
          <h5>About AbhyasDost</h5>
          <p>
            AbhyasDost is your 24x7 exam preparation portal. We provide study materials, past papers, quizzes, study groups, and personalized plans to help students succeed.
          </p>
        </div>
        
        <!-- Quick Links Section -->
        <div class="col-md-3">
          <h5>Quick Links</h5>
          <ul class="list-unstyled">
            <li><a href="/" class="text-white">Home</a></li>
            <li><a href="/quizzes" class="text-white">Quizzes</a></li>
            <li><a href="/past-papers" class="text-white">Past Papers</a></li>
            <li><a href="/study-groups" class="text-white">Study Groups</a></li>
            <li><a href="/personalized-plan" class="text-white">Personalized Plan</a></li>
          </ul>
        </div>
  
        <!-- Contact Section -->
        <div class="col-md-3">
          <h5>Contact Us</h5>
          <ul class="list-unstyled">
            <li><i class="fa fa-envelope"></i> support@abhyasdost.com</li>
            <li><i class="fa fa-phone"></i> +91 12345 67890</li>
            <li><i class="fa fa-map-marker-alt"></i> Siwan, Bihar, India</li>
          </ul>
        </div>
  
        <!-- Social Media Links -->
        <div class="col-md-3">
          <h5>Follow Us</h5>
          <a href="#" class="text-white me-2"><i class="fab fa-facebook fa-lg"></i></a>
          <a href="#" class="text-white me-2"><i class="fab fa-twitter fa-lg"></i></a>
          <a href="#" class="text-white me-2"><i class="fab fa-instagram fa-lg"></i></a>
          <a href="#" class="text-white me-2"><i class="fab fa-linkedin fa-lg"></i></a>
        </div>
      </div>
  
      <!-- Horizontal Line -->
      <hr class="bg-light my-4">
      
      <!-- Copyright & Terms -->
      <div class="row">
        <div class="col-md-6">
          <p>&copy; 2024 AbhyasDost. All Rights Reserved.</p>
        </div>
        <div class="col-md-6 text-end">
          <a href="/privacy-policy" class="text-white">Privacy Policy</a> | 
          <a href="/terms-of-service" class="text-white">Terms of Service</a>
        </div>
      </div>
      <i><b>made with &hearts; in GEC Siwan for Students of Bihar Engineering University</b></i>
    </div>
  </footer>
  