<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h3><i>Task Management App</i></h3>
    <div class="card">
        <div class="container">
            <label for="user">Username:</label>
            <input type="username" placeholder="" name="user">
            <label for="pass">Password:</label>
            <input type="password" placeholder="" name="pass">
            <form action="/dashboard" method="get">
                <button>Login</button>
            </form>
        </div>
    </div>
</body>
</html>